 <div class="row mt-5 ml-5">
     <div class="col mt-2 ">
        <p class="h3 clearfix mt-5 mb-4">
            LOGIN
        </p>
     </div>
 
 </div>
<div class="row ml-5">
   
    <div class="col-md-4 col-md-offset-4 mb-5">
       
        {{#if hasErrors}}
                
             {{#each messages}}
            
                <div class="alert alert-danger" role="alert">
                    <span style="font-size:2em; color:red">
                         <i class="far fa-exclamation-square"></i>
                    </span> {{this}}
                </div>
                
            {{/each}}
        {{/if}}

        <form method="POST" action="/root/login">
            
            <div class="form-group">
                <label for="Username">Username</label>
                <input type="text" class="form-control" name="username" id="exampleInputPassword1" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
            </div>
            
             <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    
</div>
</div>